<div class="profile-section">
  <section class="container">
    <h1>Your Profile</h1>
    <p>Name: {{currentUser.username}}</p>
    <p>Email: {{currentUser.email}}</p>
    <h2>Your services:</h2>
    <ul class="service-profile-list">
      {{#each service}}
      <div class="service-container">
        <li>
          {{this.name}}
          <p>{{this.category}}</p>
          <p>{{this.price.amount}}€/{{this.price.unit}}</p>
          <p>{{this.description}}</p>
          <button>EDIT</button>
        </li>
      </div>
      {{/each}}
    </ul>
    <div class="adding-service">
      <h3>Would you like to provide a service?</h3>
      <a href="/profile/create-service">
        <button>ADD SERVICE</button>
      </a>
    </div>
  </section>
</div>