<div class="profile-section">
  <section class="container">
    <h1>Your Profile</h1>
    <p>Name: {{currentUser.username}}</p>
    <p>Email: {{currentUser.email}}</p>
    <h2>Your services:</h2>
    <ol>
    {{#each service}}
    <div class="service-container">
      <li>{{this.name}}</li>
      <p>{{this.category}}</p>
      <p>{{this.price.amount}}€/{{this.price.unit}}</p>
      <p>{{this.description}}</p>
      <a href="/profile/edit/{{this._id}}">EDIT</a>
    </div>
    {{/each}}
    </ol>
    <div class="adding-service">   
      <h3>Would you like to provide a service?</h3>
      <a href="/profile/create-service">ADD SERVICE</a>
    </div>
  </section>
</div>

