<div class="profile-section">
  <section class="container-head">
        <div class="img-profile">
          {{#if currentUser.imgUrl}}
          <img src="{{currentUser.imgUrl}}" alt="" width="120" height="90">
          {{/if}}
          {{#unless currentUser.imgUrl}}
          <form action="/profile/upload" method="post" enctype="multipart/form-data">
            <div class="field">
              <label>Profile Pic</label>
              <input type="file" name="photo"/>
            <div>
              <input type="submit" value="save"/>
              {{#if messages.length}}
              <ul class="validation">
                {{#each messages}}<li>{{this}}</li>{{/each}}
              </ul>
              {{/if}}
            </div>
           </div>
          </form>
          {{/unless}}
        </div>
        <div class= 'user-email-name'>
          <h2>{{currentUser.username}}</h2>
          <p class="profile-email">{{currentUser.email}}</p>
        </div>
  </section>
  <div class="services-section-profile">
    <section class="container">
        <h3>Your services:</h3>
        <ul class="service-profile-list">
          {{#each services}}
          <div class="service-container">
            <li>
              <h4>{{this.name}}</h4>
              <p>{{this.category}}</p>
              <p>{{this.price.amount}}€/{{this.price.unit}}</p>
              <p>{{this.description}}</p>
              <div class="edit-container">
                <a href="/profile/edit/{{this._id}}">EDIT</a>
              </div>
            </li>
          </div>
          {{/each}}
        </ul>
      <div class="adding-service">
        <h3>Would you like to <br> add a service?</h3>
        <div class="add-container">
          <a href="/profile/create-service">ADD SERVICE</a>
        </div>
      </div>
    </section>
  </div> 
</div>