<h1>THE WORK</h1>
<p>{{#each services}}</p>
  <p>Service: {{this.name}}</p>
  <p>{{this.provider.username}}</p>
  <p>Category: {{this.category}}</p>
  <p>Price: {{this.price.amount}}€/{{this.price.unit}}</p>
<p>{{/each}}</p>