<section class="service-details">

  <form method="GET" action="/services">
    <div class="search-field" >
      <input class="service-input" type="text" name="terms" placeholder="What service do you need?"/>
      <button class="search-btn" type="submit">Search</button>
    </div>
  </form>

  <div class="container">
      <h1>{{service.name}}</h1>
      <div class="top-part">
        {{#if service.provider.imgUrl}}
        <img src="{{service.provider.imgUrl}}" alt="" width="240" height="240">
        {{/if}}
        {{#unless service.provider.imgUrl}}
        <img src="/images/profile-pic.jpg" alt="" width="240" height="240">
        {{/unless}}
      <div class="contact-btn">
        <a href="/services/{{service._id}}/contact">CONTACT</a>
      </div>
    </div>

    <h3>{{service.provider.username}}</h3>
    <p>Price: {{service.price.amount}}€/{{service.price.unit}}</p>
    <p>Category: {{service.category}}</p>
    <p>Description: {{service.description}}</p>
    <p>Location:</p>
    <div id="mapid"></div>
  </div>

</section>

<script src="https://unpkg.com/leaflet@1.3.2/dist/leaflet.js" integrity="sha512-2fA79E27MOeBgLjmBrtAgM/20clVSV8vJERaW/EcnnWCVGwQRazzKtQS1kIusCZv1PtaQxosDZZ0F1Oastl55w=="crossorigin=""></script>
{{!-- <script>window.service = {id: "{{service.id}}", coords: [12, 33] }</script> --}}
<script src="/javascripts/map.js"></script>


