<section class="service-details">

  <div class="container">
    <h1>{{service.name}}</h1>
    <p>Price: {{service.price.amount}}€/{{service.price.unit}}</p>
    <p>Category: {{service.category}}</p>
    <p>Provider: {{service.provider.username}}</p>
    <p>Description: {{service.description}}</p>
    <div id="mapid"></div>
  </div>

</section>

<script src="https://unpkg.com/leaflet@1.3.2/dist/leaflet.js" integrity="sha512-2fA79E27MOeBgLjmBrtAgM/20clVSV8vJERaW/EcnnWCVGwQRazzKtQS1kIusCZv1PtaQxosDZZ0F1Oastl55w=="crossorigin=""></script>
{{!-- <script>window.service = {id: "{{service.id}}", coords: [12, 33] }</script> --}}
<script src="/javascripts/map.js"></script>


