<section class="services-section">

  <div class= "container">
    <h1>List of Services</h1>
    <div class="filters">
      <h5>Filter by:</h5>

      {{#if queryStatus.isCat}}
      <form action="/services?cat={{this}}&sort=" method="GET">
        <select name="select-price" id="select-price">
          <option value="" disabled selected>Please select filter</option>
          <option value="name-asc">Name (ascending)</option>
          <option value="name-desc">Name (descending)</option>
          <option value="price-asc">Price (ascending)</option>
          <option value="price-desc">Price (descending)</option>
        </select>
        {{!-- <input type="hidden" name="cat" value={{}}>
        <input type="hidden" name="terms" value={{}}> --}}
        <button type="submit">FILTER</button> 
        </form>
      {{/if}}

      {{#if queryStatus.isTerms}}
      {{!-- <form action="/services?terms={{this}}" method="GET">
        <input type="hidden" name="cat" value={{}}>
        <input type="hidden" name="terms" value={{}}>
        <button type="submit">FILTER</button> {{!-- hide button!! --}}
      </form> --}}
      {{/if}}

    </div>

    <article class="card-container">
      {{#each services}}
      <div class= "card">
        <div class="card-top">
          <div class="card-img"></div>
          <a href="/services/{{this._id}}"><button>Details</button></a>
        </div>
        <h4>{{this.name}}</h4>
        <p>{{this.price.amount}}€/{{this.price.unit}}</p>
        <p>{{this.provider.username}}</p>
        {{!-- <p>Category: {{this.category}}</p> --}}
      </div>
      {{/each}}
    </article>
  </div>

</section>