<section class="service-details">

  <div class="container">
    <h1>{{service.name}}</h1>
    <p>Price: {{service.price.amount}}€/{{service.price.unit}}</p>
    <p>Category: {{service.category}}</p>
    <p>Provider: {{service.provider.username}}</p>
    <a href="/"><button class="go-back-btn">GO BACK</button></a>
  </div>

</section>

