<section class="services-section">

  <div class= "container">
    <h1>List of Services</h1>

    <div class="filters">
      <h5>Sort by:</h5>
      <form action="/services" method="GET">
        {{#if queryStatus.isCat}}
        <input type="hidden" value="{{queryStatus.isCat}}" name="cat">
        {{/if}}
        {{#if queryStatus.isTerms}}
        <input type="hidden" value="{{queryStatus.isTerms}}" name="terms">
        {{/if}}
        <select name="sort" id="select-price">
          <option value="" disabled selected>Please select filter</option>
          <option {{#if queryStatus.isSortByNameAsc}}selected{{/if}} value="name-asc">Name (ascending)</option>
          <option {{#if queryStatus.isSortByNameDesc}}selected{{/if}} value="name-desc">Name (descending)</option>
          <option {{#if queryStatus.isSortByPriceAsc}}selected{{/if}} value="price-asc">Price (ascending)</option>
          <option {{#if queryStatus.isSortByPriceDesc}}selected{{/if}} value="price-desc">Price (descending)</option>
        </select>
        <button type="submit">Sort</button> 
      </form>
    </div>

    <article class="card-container">
      {{#each services}}
      <div class= "card">
        <div class="card-top">
          <div class="card-img"></div>
          <a href="/services/{{this._id}}"><button>Details</button></a>
        </div>
        <h4>{{this.name}}</h4>
        <p>{{this.price.amount}}€/{{this.price.unit}}</p>
        <p>{{this.provider.username}}</p>
        {{!-- <p>Category: {{this.category}}</p> --}}
      </div>
      {{/each}}
    </article>
  </div>

</section>